:root {
  --scroll: 0;
}

.Progress {
  transform: scaleX(var(--scroll));
  transform-origin: left;
  background: linear-gradient(
    to left,
    var(--color-progress),
    var(--color-progressDark)
  );
  width: 100%;
  height: 2px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: transform 100ms ease-in-out;
}
